.loader {
  animation: spinner 0.8s linear infinite;
  border-radius: 100%;
  border-bottom: 5px solid rgb(255, 255, 255);
  margin: auto;
  height: 3rem;
  width: 3rem;
  margin-top: 8rem;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
